@charset "UTF-8";
/* CSS Document*/
body, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, p, input, select, textarea, td {
  margin: 0;
  padding: 0; }

html {
  font-size: 100px;
  font-size: 26.67vw; }

body {
  font-family: "微软雅黑" ，Arial;
  overflow-x: hidden; }

ul, ol {
  list-style: none; }

img {
  border: 0;
  display: block; }

a {
  text-decoration: none; }

.banner {
  width: 100%;
  height: 3.92rem;
  background: url(../../images/dol01.png);
  background-size: 100% 100%;
  border: 1px solid white; }
  .banner .swiper1 {
    height: 3.22rem;
    margin: .52rem .2rem .17rem .2rem; }
    .banner .swiper1 .swiper-wrapper .swiper-slide a img {
      width: 2.4rem;
      height: 3.22rem; }
    .banner .swiper1 .swiper-pagination {
      font-size: 10px;
      margin-left: 1.5rem; }

.info-title {
  width: 100%;
  height: .4rem; }
  .info-title img {
    width: 100%;
    height: 100%; }

.info-img {
  width: 100%;
  display: -webkit-flex; }
  .info-img .info-left {
    width: 50%; }
    .info-img .info-left .left-img01 a img {
      width: 100%;
      height: 1.87rem; }
    .info-img .info-left .left-img02 a img {
      width: 100%;
      height: .93rem; }
  .info-img .info-right {
    width: 50%; }
    .info-img .info-right .right-img01 a img {
      width: 100%;
      height: .93rem; }
    .info-img .info-right .right-img02 a img {
      width: 100%;
      height: 1.87rem; }

.swiper2 {
  width: 100%;
  height: 2.21rem; }
  .swiper2 .swiper-wrapper .swiper-slide a img {
    width: 2.87rem;
    height: 2.01rem; }
  .swiper2 .swiper-pagination {
    font-size: 10px;
    margin-left: 1.5rem; }

.video-box {
  width: 100%; }
  .video-box #video {
    width: 100%;
    height: 1.99rem;
    object-fit: fill;
    display: inline-block;
    background: pink; }
  .video-box .video-title {
    display: -webkit-flex;
    margin-top: -.2rem;
    justify-content: space-between;
    margin: -.2rem .1rem .13rem .1rem; }
    .video-box .video-title .video-left h3 {
      font-size: 14px;
      line-height: 14px; }
    .video-box .video-title .video-left span {
      font-size: 10px;
      color: #858585;
      display: block;
      margin-top: .13rem; }
    .video-box .video-title .video-right span {
      font-size: 10px;
      color: #858585;
      display: block;
      margin-top: .26rem; }

.robot {
  width: 100%;
  padding: .1rem;
  display: -webkit-flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid #e3e3e3; }
  .robot .robot_cont {
    width: 49%;
    box-sizing: border-box; }
    .robot .robot_cont a {
      display: block; }
      .robot .robot_cont a img {
        width: 100%;
        height: 1.74rem; }
      .robot .robot_cont a p {
        font-size: 12px;
        font-weight: 800;
        color: #333;
        margin: .12rem .17rem .12rem .1rem; }
      .robot .robot_cont a span {
        font-style: none;
        font-size: 12px;
        color: #bababc;
        display: block;
        line-height: .12rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: .1rem;
        padding-right: .1rem;
        margin-bottom: .28rem;
        box-sizing: border-box; }

.advert {
  width: 100%;
  background: #d5adf4;
  text-align: center; }
  .advert h3 {
    font-size: .18rem;
    line-height: .18rem;
    padding-top: .3rem; }
  .advert p {
    font-size: 12px;
    margin: 0 .13rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: .09rem; }
  .advert .advert-img {
    display: -webkit-flex;
    padding: 0 .08rem; }
    .advert .advert-img a {
      width: 33.3%; }
      .advert .advert-img a img {
        width: 1.15rem;
        height: 1.15rem;
        margin: .12rem auto; }
  .advert .advert-text {
    display: -webkit-flex;
    justify-content: space-between;
    padding: 0 .08rem .15rem;
    align-items: center; }
    .advert .advert-text .advert-left {
      display: -webkit-flex; }
      .advert .advert-text .advert-left span {
        display: block;
        font-size: 10px;
        margin-right: .1rem; }
    .advert .advert-text .advert-right span {
      font-size: 10px;
      display: block; }

.goodStuff {
  width: 100%;
  padding: .14rem .12rem;
  display: -webkit-flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid #e3e3e3; }
  .goodStuff .goodStuff-cont {
    width: 50%; }
    .goodStuff .goodStuff-cont a {
      display: block; }
      .goodStuff .goodStuff-cont a img {
        width: 100%;
        height: 1.74rem; }
      .goodStuff .goodStuff-cont a p {
        font-size: .16rem;
        font-weight: 800;
        color: #333;
        margin: 0rem .17rem .12rem .1rem; }
      .goodStuff .goodStuff-cont a span {
        font-size: 11px;
        color: #333;
        display: block;
        line-height: .12rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: .1rem;
        padding-right: .1rem;
        margin-bottom: .27rem;
        box-sizing: border-box; }
    .goodStuff .goodStuff-cont .goodStuff-bot span {
      font-size: 11px;
      display: block;
      margin-left: .1rem;
      color: #bababc; }

/*# sourceMappingURL=dolphin.css.map */
